@import 'scss/config';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #eeeeee;
  background-image: url(./assets/img/Protruding-Squares-dark.svg);
  
  //  &::after {
  //      content: '';
  //      position: fixed;
  //      top: 0;
  //      left: 0;
  //      width: 100%;
  //      height: 100%;
  //      background: rgba(0, 0, 0, 0.5);
  //      z-index: -4;
  // }

}

// .container {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: $showcase-image;
//   background-attachment: fixed;
//   background-size: cover;
//   background-repeat: repeat-x;
//   z-index: -5;

//   &::after {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(0, 0, 0, 0.5);
//     z-index: -4;
//   }
// }

.up {
  background: #fff;
  height: 50px;
  width: 50px;
}
.upIcon {
  color: $secondary-color;
  :hover {
    animation: aniup 0.5s infinite;
  }
}

@keyframes aniup {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10%);
  }
}
