@import '../../scss/config';

.title_portfolio{
    color: $white_color;
    font-size: 2rem;
    font-family: cinzel,sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    text-align: center;
}