@import '../../scss/config';

.container_contact {
  position: relative;
  width: 100%;
  margin-top: 60px;
}
.containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_contact,
.info_contact {
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  color: $white-color;
  font-family: cinzel, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 20px;
  @include for-phone-only {
    font-size: 1rem;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  // height: 500px;
  margin-bottom: 60px;
  border-radius: 10px;
  padding: 20px;
  background: rgba($dark-color, 0.8);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);

  .inputBox {
    border: none;
    border-bottom: 1px solid $white-color;
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    margin-bottom: 30px;
    outline: none;
    background: transparent;
    color: $white-color;
  }
  .inputBox:focus {
    border-bottom: 1px solid $secondary-color;
  }

  .inputBox::placeholder {
    pointer-events: none;
    color: $white-color;
    font-family: cinzel, sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0 0 30px;
  }

  .labelTextarea {
    color: $white-color;
    padding: 10px;
    font-size: 1.5rem;
    font-family: cinzel, sans-serif;
    font-weight: 400;
  }

  .inputTextarea {
    width: 100%;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 30px;
    padding: 10px;
    outline: none;
  }
  .inputTextarea:focus {
    border: 2px solid $secondary-color;
  }

  .inputRadio {
    input {
      vertical-align: middle;
    }
    label {
      color: $white-color;
      padding: 5px;
    }
  }
  .error {
    color: red;
    font-size: 1rem;
    font-family: 'satisfy', sans-serif;
    font-weight: 400;
    margin-top: -20px;
    width: 100%;
  }
  .errorIcon {
    margin-right: 5px;
  }

  input[type='submit'] {
    cursor: pointer;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    font-size: 1rem;
    font-family: cinzel, sans-serif;
    -webkit-text-fill-color: $white-color;
    transition: background-color 5000s ease-in-out 0s;
    border-bottom: 1px solid $secondary-color;
  }
}

.container_encart {
  display: flex;
  justify-content: space-evenly;
}

.encart {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 800px;
  color: $white-color;
  font-family: cinzel, sans-serif;
  margin-bottom: 60px;
  border-radius: 10px;
  padding: 20px;
  background: rgba($dark-color, 0.8);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  @include for-phone-only {
    flex-direction: column;
  }
  h1 {
    font-size: 1rem;
    font-weight: 400;
    font-family: cinzel, sans-serif;
  }

  .adress {
    padding: 20px;
    .postalCode {
      margin-right: 5px;
    }
  }
  .skypeLogo {
    width: 63px;
    height: 26px;
    vertical-align: middle;
    margin-left: -5px;
  }
  .skype {
    font-size: 0.8rem;
    color: $white-color;
  }
  a:hover {
    color: $secondary-color;
  }
}

.googleMap {
  background: $white-color;
  height: 300;
  width: 300;
  // padding: 20px;
  color: #000;
}

.mobileIcon {
  margin-right: 5px;
}
.mapIcon {
  color: rgba($secondary-color, 0.5);
  margin-bottom: 5px;
}

.image_contact {
  width: 100%;
  position: absolute;
  transform: translate(-12px, 51px);
  z-index: -1;
  @include for-phone-only {
    transform: translate(-54px, 240px);
  }
}
