@import '../../scss/config';

.container_menu {
  display: flex;
  justify-content: space-between;
  background: transparent;
  height: 100px;
  @include for-phone-only {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @include for-small-desktop-up {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}



.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  font-size: 1.2rem;
  font-family: cinzel, sans-serif;
  @include for-phone-only {
    font-size: 1.2rem;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
  }
  @include for-tablet-portrait-up {
    font-size: 1.5rem;
  }
  @include for-small-laptop-up {
    padding: 0px;
  }
  @include for-small-laptop-up {
    font-size: 1.2rem;
  }
}

.menu-link {
  white-space: nowrap;
  color: $white-color;
  margin: 20px;
  height: 30px;

  &:hover {
    color: $secondary-color;
    border-bottom: 1px solid $secondary-color;
    @include easeOut;
  }

  &.active {
    color: $secondary-color;
    border-bottom: 1px solid $secondary-color;

  }
}
