<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles.css">
  <title>Document</title>
</head>
<style>
  ul {
    color: rgb(3, 3, 3);
    list-style: none;
  }
</style>

<body>
  <div>
    {{!-- <img src="../../assets/img/logo.svg" alt="image" /> --}}
    <p>Vous avez un nouveau message de {{gender}} {{firstName}} {{lastName}}</p>
    <h3>Information client</h3>
    <ul>
      <li>{{gender}}</li>
      <li>Nom: {{firstName}}</li>
      <li>Prénom: {{lastName}}</li>
      <li>Email: {{email}}</li>
      <li>Téléphone: {{phone}}</li>
    </ul>
    <h3>Message</h3>
    <p>{{message}}</p>


  </div>
</body>

</html>