@import '../../scss/config';

.container-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  // margin-top: 20px;
  // margin-bottom: 20px;
  
}

.wrapper {
  // padding-top: 40px;
  // z-index: -1;
  // padding-bottom: 40px;

  &:focus {
    outline: 0;
  }
}

.card {
  background: white;
  width: 350px;
  
  display: inline-block;
  margin: 30px;
  border-radius: $border-radius-size + 5;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
  @include for-phone-only {
    width: 300px;
  }

  .card_image {
    position: relative;
    width: 350px;
    height: 230px;
    margin-bottom: 10px;
    border-top-left-radius: $border-radius-size;
    border-top-right-radius: $border-radius-size;
    @include for-phone-only {
      width: 300px;
    }
  }

  .card_name {
    font-size: 1.5rem;
    font-family: cinzel, sans-serif;
    height: 65px;
  }

  .card_type {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: $secondary-color;
    height: 15px;
  }
  .card_description {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 5px;
  }
  .link_card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: cinzel, sans-serif;
    font-size: 1rem;
    padding: 10px;

    a {
      color: $dark-color;
    }
    a:hover {
      color: $secondary-color;
    }
    .icon_link {
      margin-right: 5px;
    }
  }

  .card_tech {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3px;
    .one-third {
      width: 33%;
      float: left;
      padding: 20px 15px;
      // background: $secondary-color;
    }

    .stat {
      position: relative;
      font-size: 24px;
      margin-bottom: 10px;

      .html {
        color: #e34f26;
        @include easeOut;
      }
      .css {
        color: #3c99dc;
        @include easeOut;
      }
      .js-square {
        color: #f7df1e;
        @include easeOut;
      }
      .nodejs {
        color: #3c873a;
        @include easeOut;
      }
      .sass {
        color: #cd6799;
        @include easeOut;
      }
      .react {
        color: #00d8ff;
        @include easeOut;
      }
      .docker {
        color: #0db7ed;
        @include easeOut;
      }
      .wordpress {
        color: #21759b;
        @include easeOut;
      }
      .linux {
        color: #ffae00;
        @include easeOut;
      }
      .windows {
        color: #03a5f0;
        @include easeOut;
      }

      .apple {
        color: #a6b1b7;
        @include easeOut;
      }
      .gitlab {
        color: #fc6d26;
        @include easeOut;
      }
      .php {
        color: #8892be;
        @include easeOut;
      }
      .store {
        color: #96588a;
        @include easeOut;
      }
      .mongodb {
        color: #589636;
      }
      .sql {
        color: #00758f;
      }
    }

    .stat-value {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 12px;
      font-family: cinzel, sans-serif;
    }
  }
  .giant {
    background: $white-color;
    border-bottom-left-radius: $border-radius-size;
    border-bottom-right-radius: $border-radius-size;
    .one-third {
      border-right: 1px solid darken(rgb(250, 235, 215), 8%);
    }
    .no-border:nth-child(3) {
      border-right: none;
    }
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

.readMoreText {
  display: block;
  // transform: translate(125px, 60px);
}
