@import '../../scss/config';

.btn {
  position: relative;
  background: rgba($dark-color, 0.8);
  color: #fff;
  font-size: 1rem;
  font-family: amatic-sc, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 1px 1px 5px #000;
  border: 0;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 100;

  &:hover {
    transform: scale(1.1);
    color: $secondary-color;
    .info {
      animation: anime 1s infinite;
    }
  }

  .info {
    margin-left: 5px;
  }
}

@keyframes anime {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}


.btn2 {
  background:rgba($white-color, 0.8) ;
  color: #000;
  font-size: 0.8rem;
  font-family: cinzel, sans-serif;
  font-weight: 400;
  // text-transform: uppercase;
  box-shadow: 1px 1px 5px $dark-color;
  border: 0;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;

  &:hover {
    transform: scale(1.05);
    color: $secondary-color;
    
  }

}