@import '../../scss/config';

.content_encart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $white_color;
  //   margin-top: 10px;
  //   margin-bottom: 10px;
  @include for-phone-only {
    flex-direction: column;
  }
  @include for-small-laptop-up {
    flex-direction: column;
  }
}
.content_encart:nth-child(2n + 1) {
  background: $primary_color;
  flex-direction: row-reverse;
  .text-info {
    color: $white_color;
    font-size: 2rem;
    background: $primary_color;
    font-family: cinzel, sans-serif;
  }
  .text-subtitle {
    color: $white_color;
    font-size: 1.5rem;
    padding: 10px;
    background: $primary_color;
  }

  .text {
    color: $white_color;
    font-size: 1rem;
    padding: 10px;
    background: $primary_color;
  }
}

.content_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 60%;
  @include for-phone-only {
    width: 100%;
    text-align: center;
  }
  @include for-desktop-up {
    width: 40%;
  }
  @include for-small-laptop-up {
    width: 100%;
    align-items: flex-start;
  }
  .text-info {
    font-family: cinzel, sans-serif;
    color: set-text-color(#fff);
    font-size: 2rem;
    background: $white_color;
  }

  .text-subtitle {
    color: set-text-color(#fff);
    font-size: 1.5rem;
    padding: 10px;
    background: $white_color;
  }

  .text {
    color: set-text-color(#fff);
    font-size: 1rem;
    padding: 10px;
    background: $white_color;
    text-align: center;
  }

  .btn_text {
    margin-top: 20px;
  }
}

.img_encart_content {
  display: flex;
  margin: 0px;
  .img-encart {
    height: 400px;
   
    @include for-phone-only {
      width: 100%;
      height: 100%;
    }
    @include for-small-laptop-up {
      width: 100%;
      height: 100%;
    }
  }
}
