@import '../../scss/config';

.container_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 30px;
  // background: rgba($primary_color,0.5);
  // height: 100px;
}

.link_footer a {
  color: $white-color;
  font-family: cinzel, sans-serif;

  &::after {
    content: ' | ';
  }
  &:last-child::after {
    content: none;
  }
  &:hover{
    color: $secondary_color;
    @include easeOut
  }
}
.copyright {
  color: $white-color;
  font-family: cinzel, sans-serif;
  @include for-phone-only {
    font-size: 0.8rem;
    text-align: center;
  }
}

.iconsSoft {
  @include for-phone-only {
    text-align: center;
  }
}

.iconsSoft a {
  color: $white-color;
  padding: 5px;

  &:hover {
    .html {
      color: #e34f26;
      @include easeOut;
    }
    .css {
      color: #3c99dc;
      @include easeOut;
    }
    .js {
      color: #f7df1e;
      @include easeOut;
    }
    .node {
      color: #3c873a;
      @include easeOut;
    }
    .sass {
      color: #cd6799;
      @include easeOut;
    }
    .react {
      color: #00d8ff;
      @include easeOut;
    }
    .docker {
      color: #0db7ed;
      @include easeOut;
    }
    .wordpress {
      color: #21759b;
      @include easeOut;
    }
    .linux {
      color: #ffae00;
      @include easeOut;
    }
    .windows {
      color: #03a5f0;
      @include easeOut;
    }

    .apple {
      color: #a6b1b7;
      @include easeOut;
    }
    .gitlab {
      color: #fc6d26;
      @include easeOut;
    }
    .php {
      color: #8892be;
      @include easeOut;
    }
  }
}

.fa-lg {
  @include for-phone-only {
    font-size: 1rem;
    margin-bottom: 1px;
  }
}
