@import '../../scss/config';

.container_spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}

// jumpingDots
.loading span{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    background: $white_color;
    border-radius: 50%;
    animation: jumpingDots 1.8s linear infinite;

    &:nth-child(2){
        animation-delay: 0.4s;
    }
    &:nth-child(3){
        animation-delay: 0.8s;
    }
    &:nth-child(4){
        animation-delay: 1.2s;
    }
}

@keyframes jumpingDots {
    40%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
}



// waveDots
.loadingWave span{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    background: $white_color;
    border-radius: 50%;

    
    &:first-child(1){
        animation: waveDots  1s ease-in-out infinite alternate;
    }
    &:nth-child(2){
        animation: waveDots 1s ease-in-out  -0.25s infinite alternate;
    }
    &:nth-child(3){
        animation: waveDots 1s  ease-in-out  -0.5s infinite alternate;
    }
    &:nth-child(4){
        animation: waveDots 1s  ease-in-out  -0.75s infinite alternate;
    }
}

@keyframes waveDots {
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(5px);
    }
}