@import '../../scss/config';

.slick-slider {
  position: relative;
  width: 100%;
  height: 600px;
  // margin-top: 50px;
  margin-bottom: 20px;
  background: $white-color;
  overflow: hidden;

  .slick-prev {
    margin-left: 50px;
    z-index: 10;
  }

  .slick-next {
    margin-right: 50px;
    z-index: 10;
  }
  @include for-phone-only {
    // margin-top: 350px;
    height: 215px;
  }
}
.img-slider {
  width: 100%;
  // height: 500px;
}
.over {
  &::after {
    content: '';
    position: absolute;
    height: 600px;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}
.slick-dots {
  list-style: none;
  bottom: 25px;

  li button:before {
    font-size: 1rem;
    color: $dark-color;
  }
  li.slick-active button:before {
    color: $dark-color;
  }

  li button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    // border: 1px solid $secondary-color;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    @include easeOut;

    &:hover {
      background: $dark-color;
      transform: scale(1.1);
    }
  }
}

.container-text-info {
  display: flex;
  justify-content: center;

  .text-info {
    text-align: center;
    position: absolute;
    z-index: 100;
    color: #fff;
    font-size: 5rem;
    margin-top: 80px;
  }

  .text-subtitle {
    text-align: center;
    position: absolute;
    z-index: 100;
    color: #fff;
    font-size: 3rem;
    margin-top: 200px;
    padding: 10px;
  }

  .text {
    text-align: center;
    position: absolute;
    z-index: 100;
    color: #fff;
    font-size: 2rem;
    padding: 10px;
    margin-top: 300px;
  }

  .btn_text {
    position: absolute;
    margin-top: 400px;
  }
}
