@import '../../scss/config';

.container_header {
  display: flex;
  justify-content: space-between;
  // background: rgba($dark_color,0.9);
  height: 120px;
  @include for-phone-only {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @include for-small-desktop-up {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.logo-container {
  padding: 15px;
  margin-left: 50px;
  z-index: 1;
  @include for-phone-only {
    margin-left: 0;
    padding: 0;
    margin-top: 0px !important;
  }
  @include for-small-desktop-up {
    margin-left: 0;
    margin-top: 30px;
  }
}

.logo {
  width: 300px;
  height: 80px;
  @include for-phone-only {
    width: 150px;
    
  }
  @include for-small-desktop-up {
    // margin-top: 60px;
  }
  @include for-small-laptop-up {
    width: 200px;
  }
}

