@import '../../scss/config';

.menu-wrap {
  position: absolute;
  z-index: 1;
  // right: 60px;
  top: 20px;
  @include easeOut;
  @include for-phone-only {
    top: 0px;
  }

  .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Hamburger line

  .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }

  // hamburger Top & Bottom

  .hamburger > div::before,
  .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }

  .hamburger > div::after {
    top: 10px;
  }

  // Toggler Animation

  .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }

  // turns Lines Into X

  .toggler:checked + .hamburger > div::before,
  .toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
  }

  // Rotate On Hover When Checked
  .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }

  // Menu Ul

  .menu {
    position: relative;
    // top: 52px;
  }

  ul {
    // margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // margin-top: 50px;
    @include for-phone-only {
     
        margin-top: 20px;
      
    }
  }

  li {
    list-style: none;
  }

  .menu > div {
    background: rgba($dark-color, 0.9);
    // box-shadow: $shadowBox;
    width: 100vw;
    // padding: 20px;
    transform: translateY(-85vh);
    transition: all 0.4s ease;
    @include for-tablet-portrait-up {
      transform: translateY(-120vh);
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-family: 'cinzel', 'sans-serif';
    font-size: 25px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 700;
    color: $white-color;
    text-decoration: none;
    @include easeOut;

    &:hover {
      // text-shadow: $textShadowHover;
      color: $white-color;

      @include easeOut;
    }
    &.active {
      // text-shadow: $textShadow;
      color: $secondary-color;
    }

    a {
      text-decoration: none;
    }
  }

  //
  //  Social Media Icon
  //

  #social-media {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    a {
      margin: 10px;
      color: $white-color;

      &:hover {
        // text-shadow: $textShadowHover;
        color: $white-color;
        @include easeOut;
      }
    }
  }

  // Show Menu

  .toggler:checked ~ .menu {
    visibility: visible;
  }

  .toggler:checked ~ .menu > div {
    transform: translateY(-20px);
    transition-duration: $menu-speed;
  }

  //   .toggler:checked ~ .menu > div > div {
  //     opacity: 1;
  //     transition: opacity 0.4s ease 0.4s;
  //   }

  .toggler:checked ~ .menu > div > div > ul > li {
    transform: translate3d(0, 0, 0);
  }

  .nav-item {
    display: flex;
    flex-direction: row;
    // transform: translate3d(600px, 0, 0);
    @include easeOut;
    text-align: left;
    @include for-phone-only {
      .menu-link {
        margin: 10px;
      }
    }
  }

  // Delay each nav item slide by 0.1s
  @for $x from 1 through 8 {
    .nav-item:nth-child(#{$x}) {
      transition-delay: $x * 0.1s;
    }
  }
}
