<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <h3>You are receiving this email because you (or someone else) has requested the reset of a password. Please make a PUT request to: {{reset}}</h3>
</body>
</html>