@import '../../scss/config';

.container_hero {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: -120px;
  z-index: -3;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
}

@keyframes animeText {
  0% {
    opacity: 0;
    transform: translate(-50%, 1000%);
  }

  100% {
    opacity: 1;
    transform: translateY(-50%, -50%);
  }
}

.container_text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: cinzel, sans-serif;
  font-weight: 700;
 
}
.text_hero {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 0.15em;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.2);
  z-index: 10;
  width: 100%;
  animation: animeText 3s ease-in-out;
  @include for-phone-only {
    font-size: 0.8rem !important;
    margin-top: 35px;
  }
  // @include for-tablet-portrait-up {
  //   font-size: 1.5rem;
   
  // }
  @include for-small-laptop-up {
    font-size: 2rem;
  }
}
.text_hero_2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.2);
  z-index: 10;
  animation: animeText 3s ease-in-out;
  @include for-phone-only {
    font-size: 0.5rem !important;
    margin-top: 50px !important;
    width: 80% !important;
    padding: 0px !important;
  }
  // @include for-tablet-portrait-up {
  //   font-size: 0.8rem ;
  //   width: 80% !important;
  //   padding: 0px !important;
  // }
  @include for-small-desktop-up {
    margin-top: 20px;
  }
  @include for-small-laptop-up {
    font-size: 1rem;
    padding: 15px;
  }
}
