@import '../../scss/config';

.container_prestation{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 30px;
}


.title_price{
    color: $white_color;
    font-size: 2rem;
    font-family: cinzel, sans-serif;
    font-weight: 400;
 
}

.text_price {
  color: $white_color;
  font-size: 1rem;
  margin-bottom: 20px;
}
