$primary-color: #444;
$secondary-color: rgb(24, 163, 255);
$white-color: rgb(245, 245, 245);
$dark-color: #333;
$showcase-image: url('./assets/img/Leather.jpg');
$menu-speed: 0.75s;
$background-opacity: 0.6;
$border-radius-size: 14px;

@mixin easeOut {
  transition: all 0.5s ease-in-out;
}

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $dark-color;
  } @else {
    @return #fff;
  }
}

// Media Query Mixins
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-phone-portrait {
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-small-desktop-up {
  @media (max-width: 950px) {
    @content;
  }
}
@mixin for-small-laptop-up {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
